.footer {
  @include flex(row, wrap, center, center, 1em);
  padding: px-to-em(80px) 0 px-to-em(20px) 0;
  position: relative;
  &__footer {
    @include flex(row, wrap, center, flex-start, 1em);
  }
  &__container {
    @include flex(column, wrap, center, center, 0.5em);
    width: 100%;
    @include responsive(px-to-em(768px)) {
      width: 45%;
    }
  }
  &__inputs {
    width: 100%;
    @include flex(row, wrap, center, center, 1.5em);
    margin: 0 0 1.2em 0;
  }
  &__h2 {
    @include text-linear();
    font-size: px-to-em(30px);
  }
  &__message {
    width: 92.5%;
  }
  &__msg {
    top: 10%;
  }
  &__texarea {
    height: 10em;
  }
  &__span {
    font-weight: bold;
    display: inline;
    cursor: pointer;
  }
  &__span > svg {
    display: inline;
  }
  &__left {
    width: 95%;
    max-width: px-to-em(370px);
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  &__text {
    word-wrap: break-word;
    line-height: 1.5;
    position: relative;
    width: 100%;
    text-align: center;
    height: 11em;
    padding: 0 1.5em 0 0;
    @include flex(row, wrap, center, center, 2em);
  }

  &__end {
    width: 100%;
    @include flex(row, wrap, center, center, 1em);
    @include responsive(px-to-em(768px)) {
      width: 45%;
    }
  }

  &__background {
    height: 11em;
    width: 100%;
    background: $color-blue;
    position: absolute;
    top: 0;
    z-index: -1;
    -webkit-clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
    right: 0;
  }
  &__backgroundtow {
    -webkit-clip-path: polygon(10% 1%, 100% 1%, 100% 100%, 10% 100%, 0% 50%);
    clip-path: polygon(10% 1%, 100% 1%, 100% 100%, 10% 100%, 0% 50%);
    left: 0;
    background: $color-purple;
  }
  &__right {
    align-self: flex-center;
    text-align: center;
    padding: 0 0.5em;
    width: 95%;
    max-width: px-to-em(370px);
    color: $color-gentle;
  }
  &__view--left {
    @include responsive(px-to-em(1700px)) {
      display: none;
    }
    display: block;
  }
  &__view--right {
    @include responsive(px-to-em(1700px)) {
      display: block;
    }
    display: none;
  }
}
